<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
 <meta charset="UTF-8">
	<title>Person List</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
 </head>
<body>
	<h1>Person List</h1>
      <a href="addPerson"><img src="/images/add.jpg" alt="Add Person"/></a>
      <br/><br/>
      <div>
         <table border="1" class="table table-bordered" >
            <thead class="thead-dark">
            
            <tr>
               <th scope="col">First Name</th>
               <th scope="col">Last Name</th>
            </tr>
            
            <tr th:object ="${patients}" class="table-success">
               <td th:utext="${patients.nomPatient}" >...</td>
               <td th:utext="${patients.prenomPatient}" >...</td>
               <td th:utext="${patients.telefonePatient}" >...</td>
               <td th:utext="${patients.emailPatient}" >...</td>
            </tr>
         </table>
      </div>
</body>
</html>